.ContentLink a {
    text-decoration: none;
}
.ConentBacks {
    display: flex;
    align-items: center;
    color: var(--black);
    cursor: pointer;

    .Title {
        color: var(--black);
        font-weight: 500;
        font-size: 0.8rem;
        margin-left: 0.4rem;
    }
}
