.ConentBoard {
    color: var(--black);

    .classNameTh {
        color: var(--black);
        border: 0;
        padding: 1rem;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 500;
    }
    .classNameTHead {
        background-color: var(--gray-lite);
        border: 0;
    }
    .classNameTBody {
        border: 0;
        background-color: var(--gray-marine);
        border-bottom: 0.063rem solid var(--gray-lite);
    }
    .classNameTr {
        border: 0;
    }
    .classNameTr:hover {
        background: var(--gray-marine);
    }
    .classNameTd {
        border: 0;
        padding: 1rem;
        text-align: center;
        color: var(--gray);
    }
    .classNameContentTable {
        border-radius: 0.8rem;
        padding-bottom: 0;
        overflow-x: auto;
    }
    .classNameTable {
        border: 0;
    }

    /* Estilos de la barra de desplazamiento */
    .classNameContentTable::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.6rem;
    }

    .classNameContentTable::-webkit-scrollbar-track {
        background-color: var(--gray-marine);
        border-radius: 1.2rem;
    }

    .classNameContentTable::-webkit-scrollbar-thumb {
        background-color: var(--gray);
        border-radius: 1.2rem;
    }
}
