.ConentCashBox {
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 0.8rem 0 var(--black-lite);
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0.8rem;
}
.ConentCashBox .Title {
    color: var(--gray);
    font-weight: 500;
    font-size: 1rem;
}
.ConentCashBox .Price {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--black);
}

:root {
    --fenext-btn-background: #007aff;
    --fenext-btn-width: 100%;
    --fenext-btn-hover-width: 100%;
    --fenext-btn-focus-width: 100%;
    --fenext-btn-disabled-width: 100%;
    --fenext-btn-padding: 1rem 1.2rem;
    --fenext-btn-hover-padding: 1rem 1.2rem;
    --fenext-btn-focus-padding: 1rem 1.2rem;
    --fenext-btn-disabled-padding: 1rem 1.2rem;
    --fenext-btn-border-radius: 0.6rem;
    --fenext-btn-hover-border-radius: 0.6rem;
    --fenext-btn-focus-border-radius: 0.6rem;
    --fenext-btn-disabled-border-radius: 0.6rem;
    --fenext-btn-font-family: var(--fenext-font-global);
    --fenext-btn-hover-font-family: var(--fenext-font-global);
    --fenext-btn-focus-font-family: var(--fenext-font-global);
    --fenext-btn-disabled-font-family: var(--fenext-font-global);
    --fenext-btn-font-size: 0.8rem;
    --fenext-btn-hover-font-size: 0.8rem;
    --fenext-btn-focus-font-size: 0.8rem;
    --fenext-btn-disabled-font-size: 0.8rem;
    --fenext-btn-font-weight: 500;
    --fenext-btn-hover-font-weight: 500;
    --fenext-btn-focus-font-weight: 500;
    --fenext-btn-disabled-font-weight: 500;
    --fenext-btn-text-align: center;
    --fenext-btn-hover-text-align: center;
    --fenext-btn-focus-text-align: center;
    --fenext-btn-disabled-text-align: center;
    --fenext-btn-cursor: pointer;
    --fenext-btn-hover-cursor: pointer;
    --fenext-btn-focus-cursor: pointer;
    --fenext-btn-disabled-cursor: pointer;
    --fenext-btn-color: var(--white);
    --fenext-btn-disabled-color: var(--white);
    --fenext-btn-background: var(--blue);
    --fenext-btn-hover-background: var(--blue);
}

.ContentLink a {
    text-decoration: none;
}

.ConentBacks {
    display: flex;
    align-items: center;
    color: var(--black);
    cursor: pointer;
}
.ConentBacks .Title {
    color: var(--black);
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

.ConentBoard {
    color: var(--black);
    /* Estilos de la barra de desplazamiento */
}
.ConentBoard .classNameTh {
    color: var(--black);
    border: 0;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}
.ConentBoard .classNameTHead {
    background-color: var(--gray-lite);
    border: 0;
}
.ConentBoard .classNameTBody {
    border: 0;
    background-color: var(--gray-marine);
    border-bottom: 0.063rem solid var(--gray-lite);
}
.ConentBoard .classNameTr {
    border: 0;
}
.ConentBoard .classNameTr:hover {
    background: var(--gray-marine);
}
.ConentBoard .classNameTd {
    border: 0;
    padding: 1rem;
    text-align: center;
    color: var(--gray);
}
.ConentBoard .classNameContentTable {
    border-radius: 0.8rem;
    padding-bottom: 0;
    overflow-x: auto;
}
.ConentBoard .classNameTable {
    border: 0;
}
.ConentBoard .classNameContentTable::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}
.ConentBoard .classNameContentTable::-webkit-scrollbar-track {
    background-color: var(--gray-marine);
    border-radius: 1.2rem;
}
.ConentBoard .classNameContentTable::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 1.2rem;
}

.ConentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0 var(--black-lite);
    border-radius: 0.8rem;
}
.ConentHeader .ContentLogo {
    width: 60%;
}
.ConentHeader .ContentLogo .Logo {
    width: 10%;
    cursor: pointer;
}
@media (max-width: 992px) {
    .ConentHeader .ContentLogo .Logo {
        width: 40%;
    }
}
@media (max-width: 575px) {
    .ConentHeader .ContentLogo .Logo {
        width: 40%;
    }
}
@media (max-width: 480px) {
    .ConentHeader .ContentLogo .Logo {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .ConentHeader .ContentLogo {
        width: 20%;
    }
}
.ConentHeader .ContentWhatsapp {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80%;
}
.ConentHeader .ContentWhatsapp .Whatsapp {
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--gray);
    text-align: right;
}
.ConentHeader .ContentWhatsapp .Whatsapp svg {
    margin-right: 0.2rem;
}
.ConentHeader .ContentWhatsapp .Por {
    font-size: 0.8rem;
    text-decoration: underline;
}
@media (max-width: 575px) {
    .ConentHeader .ContentWhatsapp .Por {
        font-size: 0.5rem;
        text-decoration: underline;
        display: none;
    }
}
@media (min-width: 575px) {
    .ConentHeader .ContentWhatsappMovil {
        display: none;
    }
}

@media (max-width: 575px) {
    .WhatsappMovil {
        display: flex;
        align-items: center;
        justify-content: right;
        color: var(--gray);
        text-align: right;
    }
}
@media (max-width: 575px) and (max-width: 575px) {
    svg {
        margin-right: 0.2rem;
    }
}
@media (max-width: 575px) and (max-width: 575px) {
    .ContentWhatsapp {
        display: none !important;
    }
}
@media (max-width: 575px) and (max-width: 575px) {
    .PorMovil {
        font-size: 0.5rem;
        color: var(--gray);
    }
}
.title {
    color: var(--black);
    margin: 0.8rem;
}

@media (max-width: 575px) {
    .title {
        margin: 1rem 0rem;
        font-size: 1.2rem;
    }
}
.text {
    margin: 0.8rem;
    color: var(--black);
}

@media (max-width: 575px) {
    .text {
        margin: 0.5rem 0rem;
        font-size: 0.7rem;
    }
}
.ConentCheckout {
    padding: 1rem;
    border: 2px solid var(--gray-bord);
    background-color: var(--white);
    border-radius: 0.8rem;
    margin: auto;
    width: min(100%, 30rem);
}
.ConentCheckout .Text-select.Text-select.Text-select {
    font-size: 0.8rem !important;
    color: var(--black) !important;
}
.ConentCheckout h1 {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 700;
}
.ConentCheckout .deuda-total {
    padding: 0.7rem 1rem;
    border: 0.094rem solid var(--gray-bord);
    background-color: var(--white);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
}
.ConentCheckout .deuda-total .deuda-total-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray);
    margin-right: 0.8rem;
}
.ConentCheckout .deuda-total .Total-pagar {
    color: var(--black);
    font-size: 0.8rem;
    font-weight: 700;
}
.ConentCheckout .deuda-total input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--white-lite);
    border-radius: 50%;
    background-color: var(--white);
    margin-right: 0.625rem;
    position: relative;
}
.ConentCheckout .deuda-total input[type='radio']:checked::before {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
    .ConentCheckout .deuda-total {
        padding: 0.5rem;
    }
}
.ConentCheckout .otro-monto {
    padding: 0.7rem 1rem;
    border: 0.094rem solid var(--gray-bord);
    background-color: var(--white);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
}
.ConentCheckout .otro-monto .content-otro-valor {
    display: inline-grid;
    width: 100%;
}
.ConentCheckout .otro-monto .content-otro-valor .otro-valor-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--black);
    margin-right: 0.8rem;
}
.ConentCheckout .otro-monto .content-otro-valor .Input-otro-valor {
    background: var(--gray-last);
    border: 0;
    border-radius: 0.8rem;
    outline: none;
    height: 2.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray);
    margin-right: 0.8rem;
    padding: 1rem;
}
.ConentCheckout .otro-monto .content-otro-valor #monto-personalizado {
    color: transparent;
}
@media (max-width: 575px) {
    .ConentCheckout .otro-monto .content-otro-valor .Input-otro-valor {
        height: 1rem;
        width: 100%;
    }
}
.ConentCheckout .otro-monto input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--white-lite);
    border-radius: 50%;
    background-color: var(--white);
    margin-right: 0.625rem;
    position: relative;
}
.ConentCheckout .otro-monto input[type='radio']:checked::before {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -50%);
}
@media (max-width: 575px) {
    .ConentCheckout .otro-monto {
        padding: 0.5rem;
    }
}
@media (max-width: 575px) and (max-width: 575px) {
    .ConentCheckout .otro-monto #otro-monto-checkbox {
        width: 1.1rem;
    }
}

.post {
    position: absolute;
    overflow: hidden;
    width: 6rem;
    margin-top: 1.8rem;
    left: 110px;
    font-size: 0.8rem;
    color: var(--gray);
}

.transparent {
    color: transparent;
}

.content-inf-checkout {
    margin: auto;
    width: min(100%, 30rem);
    margin: 1rem 0rem;
    font-size: 1.2rem;
}
.content-inf-checkout .title-facturas {
    color: var(--black);
}
@media (max-width: 575px) {
    .content-inf-checkout .title-facturas {
        margin: 0.5rem 0rem;
        font-size: 1.2rem;
    }
}
.content-inf-checkout .text-facturas {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--black);
}
@media (max-width: 575px) {
    .content-inf-checkout .text-facturas {
        margin: 0.5rem 0rem;
        font-size: 0.7rem;
    }
}

.container {
    margin: 1rem;
}

body {
    background: var(--white);
    background-image: url('/ciudades.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}
.Paginator .Paginator__numbers {
    display: flex;
}
.Paginator .Paginator__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.313rem;
    cursor: pointer;
}
.Paginator .Paginator__arrow:hover {
    color: var(--black);
}
.Paginator .Paginator__arrow--disabled {
    opacity: 0.5;
}
.Paginator span {
    color: var(--gray);
    font-size: 0.8rem;
}
.Paginator .Paginator__number {
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.6rem;
    cursor: pointer;
}
.Paginator .Paginator__number--active {
    background: var(--gray-lite);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    width: 1.5rem;
    height: 1.5rem;
}

html {
    font-size: 1.3rem;
}

:root {
    --blue: #007aff;
    --white: #ffffff;
    --black-lite: #00000034;
    --black: #000000;
    --gray: #7a7a7a;
    --gray-lite: #e8e8e8;
    --gray-marine: #f3f4f6;
    --gray-pay: #4a4f54;
    --gray-bord: #ebebeb;
    --white-lite: #ccc;
    --gray-last: #e5e7ea;
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: #007aff;
        --white: #ffffff;
        --black-lite: #00000034;
        --black: #000000;
        --gray: #7a7a7a;
        --gray-lite: #e8e8e8;
        --gray-marine: #f3f4f6;
        --gray-pay: #4a4f54;
        --gray-bord: #ebebeb;
        --white-lite: #ccc;
        --gray-last: #e5e7ea;
    }

    html {
        color-scheme: dark;
    }
}
:root {
    --fenext-font-global: inter;
}

html {
    font-family: var(--fenext-font-global);
}

/*# sourceMappingURL=style.css.map */
