body {
    background: var(--white);
    background-image: url('/ciudades.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
