:root {
    --fenext-btn-background: #007aff;
    --fenext-btn-width: 100%;
    --fenext-btn-hover-width: 100%;
    --fenext-btn-focus-width: 100%;
    --fenext-btn-disabled-width: 100%;
    --fenext-btn-padding: 1rem 1.2rem;
    --fenext-btn-hover-padding: 1rem 1.2rem;
    --fenext-btn-focus-padding: 1rem 1.2rem;
    --fenext-btn-disabled-padding: 1rem 1.2rem;
    --fenext-btn-border-radius: 0.6rem;
    --fenext-btn-hover-border-radius: 0.6rem;
    --fenext-btn-focus-border-radius: 0.6rem;
    --fenext-btn-disabled-border-radius: 0.6rem;
    --fenext-btn-font-family: var(--fenext-font-global);
    --fenext-btn-hover-font-family: var(--fenext-font-global);
    --fenext-btn-focus-font-family: var(--fenext-font-global);
    --fenext-btn-disabled-font-family: var(--fenext-font-global);
    --fenext-btn-font-size: 0.8rem;
    --fenext-btn-hover-font-size: 0.8rem;
    --fenext-btn-focus-font-size: 0.8rem;
    --fenext-btn-disabled-font-size: 0.8rem;
    --fenext-btn-font-weight: 500;
    --fenext-btn-hover-font-weight: 500;
    --fenext-btn-focus-font-weight: 500;
    --fenext-btn-disabled-font-weight: 500;
    --fenext-btn-text-align: center;
    --fenext-btn-hover-text-align: center;
    --fenext-btn-focus-text-align: center;
    --fenext-btn-disabled-text-align: center;
    --fenext-btn-cursor: pointer;
    --fenext-btn-hover-cursor: pointer;
    --fenext-btn-focus-cursor: pointer;
    --fenext-btn-disabled-cursor: pointer;
    --fenext-btn-color: var(--white);
    --fenext-btn-disabled-color: var(--white);
    --fenext-btn-background: var(--blue);
    --fenext-btn-hover-background: var(--blue);
}
