.content-inf-checkout {
    margin: auto;
    width: min(100%, 30rem);
    .title-facturas {
        color: var(--black);
    }
    @media (max-width: 575px) {
        .title-facturas {
            margin: 0.5rem 0rem;
            font-size: 1.2rem;
        }
    }

    margin: 1rem 0rem;
    font-size: 1.2rem;
    .text-facturas {
        font-size: 0.6rem;
        font-weight: 400;
        color: var(--black);
    }
    @media (max-width: 575px) {
        .text-facturas {
            margin: 0.5rem 0rem;
            font-size: 0.7rem;
        }
    }
}
