.ConentCheckout {
    padding: 1rem;

    border: 2px solid var(--gray-bord);
    background-color: var(--white);
    border-radius: 0.8rem;
    margin: auto;
    width: min(100%, 30rem);
    .Text-select.Text-select.Text-select {
        font-size: 0.8rem !important;
        color: var(--black) !important;
    }
    h1 {
        color: var(--gray);
        font-size: 1rem;
        font-weight: 700;
    }
    .deuda-total {
        padding: 0.7rem 1rem;
        border: 0.094rem solid var(--gray-bord);
        background-color: var(--white);
        border-radius: 0.8rem;
        display: flex;
        align-items: center;

        .deuda-total-text {
            font-size: 0.8rem;
            font-weight: 400;
            color: var(--gray);
            margin-right: 0.8rem;
        }

        .Total-pagar {
            color: var(--black);
            font-size: 0.8rem;
            font-weight: 700;
        }
        input[type='radio'] {
            appearance: none;
            -webkit-appearance: none;
            width: 1rem;
            height: 1rem;
            border: 2px solid var(--white-lite);
            border-radius: 50%;
            background-color: var(--white);
            margin-right: 0.625rem;
            position: relative;
        }

        input[type='radio']:checked::before {
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background-color: var(--blue);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: 575px) {
        .deuda-total {
            padding: 0.5rem;
        }
    }
    .otro-monto {
        padding: 0.7rem 1rem;
        border: 0.094rem solid var(--gray-bord);
        background-color: var(--white);
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        .content-otro-valor {
            display: inline-grid;
            width: 100%;
            .otro-valor-text {
                font-size: 0.8rem;
                font-weight: 400;
                color: var(--black);
                margin-right: 0.8rem;
            }
            .Input-otro-valor {
                background: var(--gray-last);
                border: 0;
                border-radius: 0.8rem;
                outline: none;
                height: 2.5rem;
                font-size: 0.8rem;
                font-weight: 400;
                color: var(--gray);
                margin-right: 0.8rem;
                padding: 1rem;
            }
            #monto-personalizado {
                color: transparent;
            }
            @media (max-width: 575px) {
                .Input-otro-valor {
                    height: 1rem;
                    width: 100%;
                }
            }
        }

        input[type='radio'] {
            appearance: none;
            -webkit-appearance: none;
            width: 1rem;
            height: 1rem;
            border: 2px solid var(--white-lite);
            border-radius: 50%;
            background-color: var(--white);
            margin-right: 0.625rem;
            position: relative;
        }

        input[type='radio']:checked::before {
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            border: 2px solid #ccc;
            border-radius: 50%;
            background-color: var(--blue);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-46%, -50%);
        }
    }
    @media (max-width: 575px) {
        .otro-monto {
            padding: 0.5rem;
            @media (max-width: 575px) {
                #otro-monto-checkbox {
                    width: 1.1rem;
                }
            }
        }
    }
}
.post {
    position: absolute;
    overflow: hidden;
    width: 6rem;
    margin-top: 1.8rem;
    left: 110px;

    font-size: 0.8rem;
    color: var(--gray);
}

.transparent {
    color: transparent;
}
