.ConentCashBox {
    display: flex;
    align-items: center;
    padding: 1rem;

    box-shadow: 0 0 0.8rem 0 var(--black-lite);
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0.8rem;

    .Title {
        color: var(--gray);
        font-weight: 500;
        font-size: 1rem;
    }
    .Price {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--black);
    }
}
