.ConentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;

    box-shadow: 0 0 0.5rem 0 var(--black-lite);
    border-radius: 0.8rem;
    .ContentLogo {
        width: 60%;
        .Logo {
            width: 10%;
            cursor: pointer;
        }
        @media (max-width: 992px) {
            .Logo {
                width: 40%;
            }
        }
        @media (max-width: 575px) {
            .Logo {
                width: 40%;
            }
        }
        @media (max-width: 480px) {
            .Logo {
                width: 100%;
            }
        }
    }

    @media (max-width: 575px) {
        .ContentLogo {
            width: 20%;
        }
    }

    .ContentWhatsapp {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 80%;
        .Whatsapp {
            display: flex;
            align-items: center;
            justify-content: right;
            color: var(--gray);
            text-align: right;

            svg {
                margin-right: 0.2rem;
            }
        }
        .Por {
            font-size: 0.8rem;
            text-decoration: underline;
        }
        @media (max-width: 575px) {
            .Por {
                font-size: 0.5rem;
                text-decoration: underline;
                display: none;
            }
        }
    }
    @media (min-width: 575px) {
        .ContentWhatsappMovil {
            display: none;
        }
    }
}
@media (max-width: 575px) {
    .WhatsappMovil {
        display: flex;
        align-items: center;
        justify-content: right;
        color: var(--gray);
        text-align: right;
    }
    @media (max-width: 575px) {
        svg {
            margin-right: 0.2rem;
        }
    }

    @media (max-width: 575px) {
        .ContentWhatsapp {
            display: none !important;
        }
    }
    @media (max-width: 575px) {
        .PorMovil {
            font-size: 0.5rem;
            color: var(--gray);
        }
    }
}
