:root {
    --blue: #007aff;
    --white: #ffffff;
    --black-lite: #00000034;
    --black: #000000;
    --gray: #7a7a7a;
    --gray-lite: #e8e8e8;
    --gray-marine: #f3f4f6;
    --gray-pay: #4a4f54;
    --gray-bord: #ebebeb;
    --white-lite: #ccc;
    --gray-last: #e5e7ea;
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: #007aff;
        --white: #ffffff;
        --black-lite: #00000034;
        --black: #000000;
        --gray: #7a7a7a;
        --gray-lite: #e8e8e8;
        --gray-marine: #f3f4f6;
        --gray-pay: #4a4f54;
        --gray-bord: #ebebeb;
        --white-lite: #ccc;
        --gray-last: #e5e7ea;
    }
    html {
        color-scheme: dark;
    }
}
