.ConentFormPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1rem 4rem;

    box-shadow: 0 0 0.5rem 0 var(--black-lite);
    border-radius: 0.8rem;
    .ContentLogo {
        .Logo {
            width: 10%;
            cursor: pointer;
        }
    }
    .ContentWhatsapp {
        .Whatsapp {
            color: var(--gray);
        }
    }
}
