.Paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;

    .Paginator__numbers {
        display: flex;
    }

    .Paginator__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;

        margin: 0 0.313rem;
        cursor: pointer;
    }

    .Paginator__arrow:hover {
        color: var(--black);
    }

    .Paginator__arrow--disabled {
        opacity: 0.5;
    }
    span {
        color: var(--gray);
        font-size: 0.8rem;
    }

    .Paginator__number {
        font-size: 0.8rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.6rem;
        cursor: pointer;
    }
    .Paginator__number--active {
        background: var(--gray-lite);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}
